/*======= Variables CSS =======*/
:root {
    --background-color: #274653;
    --title-color: #e9c46a;
    --input-color: #299d8f;
    --submit-color: #e76f51;
    --cell-color: #41455d;
    --white-color: rgb(255, 255, 255);

    --bingo-color: #e76f51;
    --youwon-color: #e9c46a;
    --newgame-color: #00b4d8;

    --marked-cell: #19C18F;
}

/*======= BASE =======*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    font-family: 'JetBrains Mono';
}

table {
    margin-top: 20px;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 3rem;
    background-color: var(--cell-color);
    color: var(--white-color)
}

/*======= APP =======*/
.game-screen {
    height: 100vh;
    position: relative;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: var(--title-color);
    font-size: 3.5rem;
}


#question {
    color: var(--white-color);
    font-size: 2rem;
}

.inputField {
    background-color: var(--input-color);
    color: var(--white-color);
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    text-align: center;
    width: 200px;
}

.inputField::placeholder {
    color: var(--white-color);
    opacity: 0.5;
}

.guess-answer-btns {
    width: 400px;

}

#submit,
#newgame,
#play,
.guess-btn {
    background-color: var(--submit-color);
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    width: 150px;
    cursor: pointer;
}

#newgame,
#play,
.guess-btn {
    background-color: var(--newgame-color);
    color: var(--white-color);
    font-size: 1.4rem;
    width: 200px;
    border-radius: 5px;
    margin-top: 20px;
}

.guess-btn {
    background-color: var(--input-color);
    width: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.guess-btn:hover {
    background-color: #ffb706;
}

.gap {
    gap: 15px;
}

.hidden {
    display: none;
}

.top-buttons,
.bottom-buttons {}

/*-- BINGO --*/
.bingo {
    position: absolute;
    width: 400px;
    height: 210px;
    background-color: #299d8f;
    border-radius: 20px;
    z-index: 1;
}

.bingo .title {
    color: var(--bingo-color);
    font-size: 3.5rem;
}

.bingo h2 {
    color: var(--youwon-color);
}


.bold {
    font-size: 2.5rem;
}

.marked {
    background-color: var(--marked-cell);
}

/*======= Loading =======*/
.loading {
    height: 100vh;
}

.loading h2 {
    color: #19C18F;
}

#play {
    background-color: #e76f51;
}

/*======= Responsive =======*/
@media (max-width: 400px) {
    td {
        width: 100px;
        height: 100px;
    }

    .loading h2 {
        font-size: 1.3rem;
    }

}

@media (max-width: 340px) {
    .title {
        font-size: 3rem;
    }
}